* {
    box-sizing: border-box;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    padding: 2vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top,
div.bottom {
    display: flex;
    justify-content: space-between;
}

h1.time {
    text-align: center;
    font-size: 5rem;
    margin-top: -3rem;

}

div#crypto {
    font-size: 1.3rem;
}

div#crypto > p {
    margin: 0;
}

div#crypto-top {
    display: flex;
    align-items: center;
}

div#crypto-top > span {
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: -20px;
}

div#weather > img {
    width: 10rem;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
    font-size: 1.5rem;

}

p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}

p#author {
    font-size: 1rem;
}

.settings{
    border: none;
    border-radius: 4px;
    color: white;    

    padding: 0.5em 0.725em;
    background-color: rgb(42,71,128);
    cursor: pointer;
    box-shadow: 0px 0px 20px #242424;
    transition: 0.4s;
}

.settings:hover,
.settings:focus,
.settings:active{
    opacity: 0.8;
    cursor: pointer;
}





#settings{
    
}


.popUp{
    position: absolute;
    inset: 0;
    background-color: rgba(43, 48, 67,0.8);
    display: grid;
    place-content: center;
    transition: .4s;


}

.settingsCard{
    width: 40vw;
    height: max-content;
    border-radius: 1vw;
    background-color: #313649;
    padding: 2rem 3rem;

    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    text-shadow: none;
    box-shadow: 4px -2px 52px 10px rgba(42,71,128,0.75);
}

.settingsTop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsTop h1{
    align-self: center;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

#close{
    fill: white;
    cursor: pointer;

}

.settingsCard h2{
    opacity: 0.8;
    font-size: 1rem;
}

.settingsCard hr{
    border: 1px solid grey;
    width: 100%;
}
.settingsCard p{
    color: grey;
    font-size: 0.875rem;
}

input{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 100%;
    height: 2rem;
    background-color: transparent;
    color: white;
}

input::placeholder{
    color: grey;
    font-style: italic;
    font-size: 80%;
}

/* .qualityDiv{
    display: flex;
    align-items: center;
    gap:0.1rem;
   align-self: flex-start;
}
.qualityDiv label{
    margin-left: -4rem;
    padding: 0;

}
.qualityDiv input{
    margin: 0;
    padding: 0;
    height: 1rem;
} */

#saveBtn{
    border: none;
    border-radius: 4px;
    color: white;    
    align-self: flex-end;

    padding: 0.5em 0.725em;
    background-color: rgb(42,71,128);

    
}

#saveBtn:hover,
#saveBtn:focus,
#saveBtn:active{
    opacity: 0.6;
    cursor: pointer;
}



#hide{
    opacity: 0;
    transform: scale(.4);
    pointer-events: none;

}

#show{
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}